body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, footer {
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0;
}

main {
    padding: 20px;
}

#skills {
    width: 80%;
    margin: 20px auto;
}

.skill {
    margin-bottom: 15px;
}

.skill span {
    display: block;
    font-weight:bold;
    margin-bottom: 5px;
}


.skill-bar {
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
    height: 20px;
}


.skill-level {
    background-color: #5e96ff;
    height: 100%;
    width: 80%;
    transition: width 1s ease-in-out;
}

#html-level {
    width: 80%;
}

#css-level {
    width: 70%;
}

#python-level {
    width: 40%;
}
